.details-cont {
  background-color: #181818;
  min-height: 100vh;
}
.details-container {
  height: 605px;
  background-size: 100% 100%;
}
.details-banner {
  color: #ffffff;
  margin-left: 164px;
  width: 632px;
}
.details-h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 0.7;
}
.details-p {
  font-size: 20px;
  font-weight: 500;
}
.details-btn {
  width: 74px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.details-slider-container {
  margin-left: 165px;
  margin-top: 50px;
}
.details-side-head {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.release-details-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  width: 250px;
  height: 27px;
}
.adult {
  width: 55px;
  height: 27px;
  border: 1px solid #ffffff;
  border-radius: 2px;
}
.movie-details-container {
  margin-left: 165px;
  display: flex;
  justify-content: space-between;
  width: 75vw;
}
.movie-h1 {
  color: #94a3b8;
  font-size: 18px;
  font-weight: 600;
}
.movie-p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
ul {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .details-cont {
    width: 360px;
  }
  .details-container {
    width: 360px;
  }
  .details-banner {
    width: 360px;
    margin-left: 32px;
  }
  .details-h1 {
    font-size: 36px;
  }
  .release-details-cont {
    justify-content: space-between;
    font-size: 16px;
    width: 190px;
  }
  .details-p {
    font-size: 16px;
    font-weight: 500;
    width: 296px;
  }
  .details-btn {
    width: 76px;
    height: 32px;
  }
  .movie-details-container {
    width: 320px;
    flex-wrap: wrap;
    margin-left: 30px;
  }
  .movie-h1 {
    font-size: 14px;
  }
  .movie-p {
    font-size: 12px;
  }
}
