.load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 1200px;
  min-height: 40vh;
}

@media screen and (max-width: 767px) {
  .load {
    width: 360px;
  }
}
