.accounts-bg {
  background-color: #181818;
}
.accounts-container {
  background-color: #ffffff;
  font-family: roboto;
  padding-left: 165px;
}
.accounts-head {
  font-size: 36px;
  font-weight: 700;
  color: #131313;
  padding-top: 100px;
}
.hr {
  background-color: #cbd5e1;
  width: 1110px;
  height: 2px;
  border: none;
  border-radius: 10px;
  margin-left: 0px;
}
.span {
  margin-right: 20px;
  color: #94a3b8;
  font-size: 24px;
  font-weight: 600;
}
.span1 {
  margin-right: 30px;
}
.accounts-para {
  font-size: 24px;
  font-weight: 400;
  color: #1e293b;
}
.para1 {
  font-size: 24px;
  font-weight: 400;
  color: #64748b;
  margin-left: 162px;
}
.span2 {
  color: #1e293b;
  border: 1px solid #1e293b;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  border-radius: 2px;
  padding: 2px;
  height: 27px;
}
.logout-btn {
  background-color: #e50914;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 89px;
  height: 40px;
  border: none;
  margin-left: 555px;
  margin-top: 50px;
  margin-bottom: 120px;
  cursor: pointer;
}
.para-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .hr {
    width: 296px;
  }
  .accounts-container {
    padding-left: 32px;
    max-width: 360px;
    margin-bottom: 50px;
  }
  .accounts-head {
    font-size: 24px;
    font-weight: 500;
    padding-top: 25px;
    margin-top: -10px;
  }
  .span {
    font-size: 18px;
    font-weight: 600;
  }
  .accounts-para {
    font-size: 16px;
    font-weight: 500;
    margin-left: -10px;
  }
  .para1 {
    font-size: 16px;
    font-weight: 500;
    margin-left: 115px;
    margin-top: -10px;
  }
  .span2 {
    border: 1px solid #1e293b;
    font-size: 14px;
    font-weight: 600;
    height: 22px;
  }
  .logout-btn {
    margin-left: 91px;
    font-weight: 600;
  }
}
