.search-container {
  background-color: #181818;
  width: 100vw;
  min-height: 100vh;
}
.video-list {
  list-style-type: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  min-height: 85vh;
}
