.home-cont {
  background-color: #181818;
}
.home-container {
  min-height: 605px;
  background-size: 100% 100%;
}
.banner {
  color: #ffffff;
  margin-left: 164px;
  width: 475px;
}
.home-h1 {
  font-size: 54px;
  font-weight: 600;
}
.home-p {
  font-size: 20px;
  font-weight: 500;
}
.home-btn {
  width: 74px;
  height: 40px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.slider-container {
  margin-left: 165px;
  margin-top: 50px;
}
.side-head {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .slider-container {
    margin-left: 30px;
  }
  .home-h1 {
    font-size: 36px;
    font-weight: 600;
  }
  .home-p {
    font-size: 16px;
    font-weight: 500;
  }
  .home-btn {
    width: 76px;
    height: 32px;
  }
  .home-container {
    width: 360px;
    height: 447px;
  }
  .banner {
    margin-left: 32px;
    width: 296px;
  }
  .side-head {
    font-size: 16px;
    font-weight: 600;
  }
}
