.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 221px;
  background-color: #181818;
}

.footer-icons {
  width: 200px;
  height: 21px;
  display: flex;
  justify-content: space-between;
}
.icon-color {
  color: #ffffff;
  height: 25px;
  width: 25px;
}
.footer-head {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-container {
    width: 360px;
    height: 70px;
    margin-top: 50px;
  }
  .footer-icons {
    width: 100px;
  }
  .icon-color {
    width: 16px;
    height: 16px;
  }
  .footer-head {
    font-size: 12px;
  }
}
