.slider {
  width: 1120px;
  min-height: 200px;
  text-align: center;
  color: #ffffff;
}
.slider-small {
  display: none;
}
@media screen and (max-width: 767px) {
  .slider {
    display: none;
  }
  .slider-small {
    display: block;
    width: 300px;
    min-height: 70px;
  }
}
